/* OVERALL */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap" rel="stylesheet');

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  --bg-color: #E3FDFF;
  --nav: #64C7E6;
  --button: #F4BA19;
  --button-hover: #C59205;
  --bkg-footer:#434343;
}

h2, h3, h4, h5, p {
  text-align: center;
  font-weight: bold;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.container-md {
  width: 500px !important;
  margin: auto;
}

.btn-primary {
  background-color: var(--button) !important;
  border: 1px solid rgb(244, 156, 25) !important;
  padding: 10px !important;
  margin: 20px 0px !important;
  width: 250px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
  background-color: var(--button-hover) !important;
  border: 1px solid rgb(244, 156, 25) !important;
}

/* HEADER */

.navbar {
  margin: 0px auto 20px auto;
  padding: 20px 0px !important;
}

.bg-blue {
  background-color: var(--nav);
}

.img-brand {
  width: 200px !important;
}

.fa-power-off {
  color: #fff;
}

.User-Name {
  color: #fff;
  margin-right: 15px;
}

.btn-header {
  background-color: var(--button) !important;
  border: 1px solid rgb(244, 156, 25) !important;
  padding: 10px;
  margin: 0px;
  width: 250px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  color: #fff !important;
}

.btn-header:hover {
  background-color: var(--button-hover) !important;
  border: 1px solid rgb(244, 156, 25) !important;
  color: #fff;
}

a.nav-link {
  color: #fff !important;
}

/* ACTION */

#actions {
  margin: 50px 0px;
}

#actions a {
  text-decoration: none;
  color: #F4BA19;
}

.return {
  display: none;
}

/* CARDS */

.cards {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: none;
  text-align: center;
  border: none !important;
}

.card-title {
  font-size: 1rem;
}

.card-body {
  padding: 0.8rem;
  font-size: 0.8rem;
}

/* FOOTER */

.page-footer {
  background-color: var(--bkg-footer);
  color: #fff;
}

.page-footer a {
  text-decoration: none;
  color: #fff;
}

.page-footer a:hover {
  text-decoration: underline;
  color: #fff;
}

.page-footer img {
  width: 150px;
}

#img-footer-xs {
  display: none;
}

.love {
  width: 15px !important;
  padding-bottom: 5px;
}

.social {
  width: 30px !important;
  margin: 0px 15px;
}

/* SLIDER */

.Slider-Body {
  display: flex !important;
  justify-content: center;
}

.Slider-Image {
  position: relative;
  z-index: 0;
  filter: brightness(70%);
}

.Slider-Text {
  position: absolute;
  width: 900px;
  z-index: 1;
  bottom: 40%;
  color: #fff;
}

.slick-prev:before, .slick-next:before {
  color: #000;
}

@media screen and (max-width: 990px) {
  .Slider-Text {
      width: 600px;
  }
}

@media screen and (max-width: 770px) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
      font-size: 1.5rem;
      text-align: center;
  }
  .card {
      margin: 15px 0px;
  }
  .card-title {
      font-size: 0.7rem;
      text-align: left;
  }
  .card-text {
      font-size: 0.6rem;
  }
  .return {
      display: block;
  }
  .btn-header {
      display: none !important;
  }
  .img-brand {
      margin-left: 15px;
      width: 170px !important;
  }
  .social-media {
      display: flex;
      justify-content: center;
  }
  #img-footer-lg {
      display: none;
  }
  #img-footer-xs {
      text-align: center;
      margin: 20px auto;
  }
  .navbar-toggler {
      margin-right: 15px;
  }
  .burger-button {
      display: flex !important;
      justify-content: flex-end !important;
  }
  .navbar-dark .navbar-toggler {
      border-color: var(--nav);
  }
  .nav-link {
      display: flex !important;
      justify-content: center;
  }
  .hidden-sm {
      display: none;
  }
}

@media screen and (max-width: 540px) {
  .container-md {
      width: 300px;
      margin: auto;
  }
  .slick-arrow {
    display: none !important;
  }
  .Slider-Text {
    width: 300px;
    bottom: 10%;
    font-size: .8rem;
  }
  .Slider-Text h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 770px) {
  .subscribe {
      border: 1px solid #fff;
      border-radius: 3px;
      text-decoration: none;
      color: #fff;
      margin: 0px;
  }
  .subscribe:hover {
      border: 1px solid #fff;
      background-color: #fff;
      text-decoration: none;
      color: var(--nav) !important;
      margin: 0px;
  }
  a.nav-link-sub:hover {
      color: var(--nav) !important;
  }
  #sub-link:hover {
      color: var(--nav) !important;
  }
  .hidden {
      display: none;
  }
}